<footer class="footer row priority">
		<div class="col-md-10 col-md-offset-1">
				<div class="row" style="overflow:hidden;">
					<div class="col-sm-3" id="widget_twitter_prev">
						{{> "about-blog"}}
						<nav>
							{{navigation}}
						</nav>
						{{> "my-widget"}}
					</div>
						{{> "widget-twitter-footer"}}
				  <div id="widget_fb_prev" class="col-sm-3">
							{{> "tag-list"}}
							{{> "recent-posts"}}
				  </div>
							{{> "widget-facebook-footer"}}
				</div>
				<div class="row text-center margin-top-15 margin-bottom-15" style="font-size:200%;">
					{{> "link-blog"}}
				</div>
		</div>
		<div class="col-md-1"></div>
		{{> "widget-flickr"}}
		{{> "widget-instagram"}}

		{{> "copyright"}}
</footer>
