<footer class="footer row">
		<div class="col-md-10 col-md-offset-1">
				<div class="row" style="overflow:hidden;">
					<div class="col-sm-4">
						{{> "about-blog"}}
						<nav>
							{{navigation}}
						</nav>
						{{> "tag-list"}}
					</div>
					<div class="col-sm-4">
							{{> "recent-posts"}}
				  </div>
					<div class="col-sm-4">
							{{> "my-widget"}}
				  </div>
				</div>
				<div class="row text-center margin-top-15 margin-bottom-15" style="font-size:200%;">
					{{> "link-blog"}}
				</div>
		</div>
		<div class="col-md-1"></div>

		{{> "copyright"}}
</footer>
