<header class="row normal-header">
	<div class="col-sm-2 col-sm-offset-1">
		<div class="col-xs-3">
			<a href="{{@blog.url}}" class="normal-header-title">
				{{@blog.title}}
			</a>
		</div>
		<div class="col-xs-9">
			<div class="visible-xs text-right priority" style="color:#fff;line-height:50px;display:inline-block;">
				<span class="glyphicon glyphicon-menu-hamburger" id="visnav" aria-hidden="true"></span>
			</div>
		</div>
	</div>
	<div class="col-sm-8 text-right">
		<nav class="hidden-xs">
			{{navigation}}
		</nav>
		<nav id="hidden-nav">
			{{navigation}}
		</nav>
	</div>
</header>
<script>
$script(['https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'],function(){
	$('#visnav').click(function(){
		$("#hidden-nav").fadeToggle();

	});
});

</script>
