
<div class="newsletter-post">
	{{> "newsletter"}}
</div>
{{> advertisement}}
{{> "related-posts"}}
<div id="widget_twitter_sidebar">
  {{> "widget-twitter-sidebar"}}
</div>
<div id="widget_fb_sidebar">
	{{> "widget-facebook-sidebar"}}
</div>
{{> "widget-instagram-post"}}
{{> "widget-flickr-post"}}
